  a{
    text-decoration: none;}
  body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather",sriff;

}
hr{
  border-style: dotted none none;
  width: 5%;
  border-width: 5px;
  padding: 10px;
  color: grey;


}
h1{
  font-size: 5.62rem;
  color: #66BFBF;
  line-height: 2;
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-weight: normal;
width: 100%;

}
h2{
  font-size: 1.5rem;
  color: #66BFBF;
}
h3{
  color: #900C3F;
}
p{
  font-size: 1rem;
  color: #F185B3;
  font-weight: normal;
  text-align: center;
  width: 100%;
}
.top-container{
  background-color: #709078;
  position:relative;
  padding-top: 100px;
}
.middle-container{

  background-color: #EAF6F6;


}
.bottom-container{
  background-color: #900C3F;

}

.pro{
  text-decoration: underline;
}
.bottom{
  position: absolute;
}
.top{
  position:relative;
  left: 200px;
}
.raj{
  height: 140px;
  width:120px;
  border-radius: 100%;
}
.computer{
  border-radius: 100%;
  height: 140px;
  width: 140px;
}
.footer-link{
  color: #11999E;
  padding: 10px;
}
.btn{
color:  #11999E;
}
.htmlcss{
  height:200px;
  width:250px;
}
.skill-row{
  text-align: center;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Merriweather",sriff;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
a:hover{
  color: gold;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
